.wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

html,
body {
    height: 100%;
    font-family: "Quicksand", sans-serif;
    -webkit-font-smoothing: antialiased
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111;
    font-weight: 400;
    font-family: "Libre Baskerville", serif
}

h1 {
    font-size: 70px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 30px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

p {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    color: #444;
    font-weight: 400;
    line-height: 27px;
    margin: 0 0 15px 0
}

img {
    max-width: 100%
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #fff
}

ul,
ol {
    padding: 0;
    margin: 0
}

/* Header Logo */
.header_logo {
    padding: 26px 0 30px;
    left: 50px;
}

.header_logo a {
    display: inline-block;
}
/* Header Menu */
/* .header_menu {
    display: inline-block;
    margin-right: 65px
}

.header_menu ul {
    list-style: none;
    display: flex;
    margin-right: 65px;
    text-align: center;
}

.header_menu li {
    margin: 32px 20px;
    position: relative;
}

.header_menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    position: relative
}

.header_menu ul li a {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    color: #111;
    display: block;
    font-weight: 500;
    padding: 3px 0;
    text-transform: uppercase;
    -webkit-transition: all, .3s;
    -o-transition: all, .3s;
    transition: all, .3s
}

.header_menu ul li a:hover {
    color: #f45d96;
    text-decoration: none;
}

.header_menu ul li:last-child {
    margin-right: 0;
} */

/*=== DROPDOWN MENU === */
/* #primary-menu li {
    position: relative;
}
#primary-menu .submenu{
    display: none;
    position: absolute;
    left: -120px;
}

#primary-menu li:hover .submenu{
    display: flex;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding: 5px 20px;
    text-transform: capitalize;
    top:10px;
} */

.header_menu {
    display: inline-block;
    margin-right: 65px;
    margin-top: 30px;
}

.header_menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    position: relative
}

.header_menu ul li:hover a {
    color: #f45d96;
    text-decoration: none;
}

.header_menu ul li:hover .dropdown {
    top: 30px;
    opacity: 1;
    visibility: visible;
}

.header_menu ul li:last-child {
    margin-right: 0
}

.header_menu ul li .dropdown {
    position: absolute;
    left: 0;
    top: 56px;
    width: 150px;
    background: #111;
    text-align: left;
    padding: 5px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, .3s;
    -o-transition: all, .3s;
    transition: all, .3s
}

.header_menu ul li .dropdown li {
    display: block;
    margin-right: 0
}

.header_menu ul li .dropdown li a {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding: 5px 20px;
    text-transform: capitalize
}

.header_menu ul li .dropdown li a:after {
    display: none
}

.header_menu ul li a {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    color: #111;
    display: block;
    font-weight: 500;
    padding: 3px 0;
    text-transform: uppercase;
    -webkit-transition: all, .3s;
    -o-transition: all, .3s;
    transition: all, .3s
}

/* header_option search, heart, shopping cart */
.header_option {
    display: flex;
    top: 30px;
}

.header_option .header_option_search {
    margin-right: 45px;
}

.header_option .header_option_heart {
    margin-right: 45px;
}

/* Introduce */
.introduce {
    background-image: url("../images/hero-2.jpg.webp");
    height: 600px;
    position: relative;
}

.introduce_text {
    position: absolute;
    top: 150px;
    margin-left: 50px;
}

.introduce_text span {
    font-size: 16px;
    color: #111;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 12px;
    position: relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.introduce_text h2 {
    color: #111;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 28px;
    position: relative;
    font-weight: 500;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Libre Baskerville", serif
}

.introduce_text .introduce_link {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #f45d96;
    padding: 14px 30px 12px;
    border-radius: 50px;
    text-decoration: none
}

.introduce_text .introduce_link:hover {
    background-color: #fff;
    border: 1px solid #f45d96;
    color: #f45d96;
    text-decoration: none;
    transition: all, .4s;
    opacity: 1
}

/* Benefits */
.benefits {
    padding: 60px 20px 30px 20px;
}

.benefits_item {
    margin-bottom: 30px;
    overflow: hidden
}

.benefits_item_icon {
    float: left;
    margin-right: 32px
}

.benefits_item_text {
    overflow: hidden
}

.benefits_item_text h4 {
    color: #111;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
}

.benefits_item_text p {
    font-size: 16px;
    color: #444;
    font-weight: 400;
    line-height: 27px;
    margin: 0 0 15px 0;
}

/* Categories */
.categories {
    padding: 0 30px;
}

.categories_item {
    height: 440px;
    position: relative;
    margin-bottom: 30px;
}

.categories_item_text {
    background: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: calc(100% - 30px);
    font-weight: 400;
    font-size: 25px;
    letter-spacing: .5px;
}

.categories_item_text h4 {
    color: #111;
    font-size: 24px;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
}

.categories_item_text span {
    font-size: 18px;
    color: #444;
    display: block;
}

/* About */
.about {
    padding: 70px 30px;
}

.about .about_title span {
    color: #f45d96;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 8px;
}

.about .about_title h2 {
    font-size: 42px;
    color: #111;
    line-height: 1.4;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
}

.about .about-text {
    margin-bottom: 45px;
    padding-top: 15px;
    padding-bottom: 60px
}

.about .about-text p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    color: #444;
    font-weight: 400;
}

.about .about_video {
    height: 535px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
    background-image: url("../images/about-video.png");
}

.about .about_video .play-btn {
    display: inline-block;
    height: 80px;
    width: 80px;
    background: #fff;
    font-size: 30px;
    color: #f45d96;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
}

.about .about_content {
    background: #fff;
    -webkit-box-shadow: 0 10px 21px rgba(99, 134, 137, .16);
    box-shadow: 0 10px 21px rgba(99, 134, 137, .16);
    padding: 100px 90px 105px 70px;
    margin-left: -95px;
    margin-top: -70px;
    margin-bottom: 10px;
}

.about_content span {
    color: #f45d96;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
    height: 100%;
    text-align: left;
}

.about_content h2 {
    color: #111;
    font-size: 38px;
    line-height: 1.4;
    margin-bottom: 26px;
    letter-spacing: 1px;
    font-family: "Libre Baskerville", serif
}

.about_content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #444;
    font-weight: 400;
}

.about_content .primary-btn {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #f45d96;
    padding: 14px 30px 12px;
    border-radius: 50px
}

.about_content .primary-btn:hover {
    background-color: #b2abff;
    color: #fff;
    text-decoration: none;
    transition: all, .4s;
    opacity: 1
}

/* Products Menu */
.product {
    padding: 0 30px;
}

.product .product_title {
    margin-bottom: 20px
}

.product_title {
    margin-bottom: 45px
}

.product_title span {
    color: #f45d96;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 8px
}

.product_title h2 {
    font-size: 42px;
    color: #111;
    line-height: 1.4;
    font-family: "Libre Baskerville", serif
}

.product_menu {
    margin-bottom: 40px
}

.product_menu li {
    font-size: 16px;
    color: #111;
    display: inline-block;
    list-style: none;
    padding: 3px 10px 2px;
    margin-right: 15px;
    cursor: pointer;
    border: 2px solid transparent
}

.product_menu li:last-child {
    margin-right: 0
}

.product_menu li:hover {
    border: 2px solid #f45d96
}

/* Product Table */
.col-product {
    max-width: 20%;
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px
}

.product_item {
    overflow: hidden;
    margin-bottom: 35px
}

.product_item:hover .product_item_pic .product_item_hover {
    bottom: 30px
}

.product_item:hover .product_item_text .price {
    left: -500px;
    opacity: 0
}

.product_item:hover .product_item_text .cart_button {
    bottom: 2px;
    opacity: 1
}

.product_item_pic {
    background-position: center center;
    position: relative;
    overflow: hidden;
    height: 344px
}

.product_item_pic .label {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background: #111;
    display: inline-block;
    padding: 2px 8px 1px;
    text-transform: uppercase;
    position: absolute;
    left: 15px;
    top: 15px
}

.product_item_pic .product_item_hover {
    position: absolute;
    left: 0;
    bottom: -300px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, .5s;
    -o-transition: all, .5s;
    transition: all, .5s
}

.product_item_pic .product_item_hover li {
    list-style: none;
    display: inline-block;
    margin-right: 10px
}

.product_item_pic .product_item_hover li:last-child {
    margin-right: 0
}

.product_item_pic .product_item_hover li:hover a {
    background: #f45d96
}

.product_item_pic .product_item_hover li:hover a span {
    color: #fff;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
}

.product_item_pic .product_item_hover li a {
    display: block;
    height: 40px;
    width: 40px;
    background: #fff;
    font-size: 18px;
    color: #111;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all, .5s;
    -o-transition: all, .5s;
    transition: all, .5s;
    -webkit-box-shadow: 0 3px 6px #ecf2e6;
    box-shadow: 0 3px 6px #ecf2e6
}

.product_item_pic .product_item_hover li a span {
    position: relative;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all, .3s;
    -o-transition: all, .3s;
    transition: all, .3s;
    display: inline-block
}

.product_item_text {
    text-align: center;
    padding-top: 24px;
    position: relative
}

.product_item_text h5 {
    margin-bottom: 8px
}

.product_item_text h5 a {
    color: #111
}

.product_item_text .price {
    color: #111;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 0;
    -webkit-transition: all, .6s;
    -o-transition: all, .6s;
    transition: all, .6s
}

.product_item_text .cart_button {
    font-size: 14px;
    color: #f45d96;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: -50px;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all, .3s;
    -o-transition: all, .3s;
    transition: all, .3s
}

/* View all post */
.view__all.view__all--portfolio a {
    border-color: #f45d96
}

.view__all a {
    display: inline-block;
    font-size: 15px;
    color: #111;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 2px solid #111
}

.view__all a:hover {
    text-decoration: none;
    color: #f45d96;
}

/* Banner */
.banner {
    background-image: url("../images/call-bg.png");
    height: 502.5px;
    position: relative;
    margin-top: 100px;
}

.spad {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.banner_text {
    max-width: 475px
}

.banner_text span {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px
}

.banner_text h2 {
    color: #fff;
    font-size: 60px;
    line-height: 1.4;
    margin-bottom: 42px;
    font-family: "Hello Santiny";
}

.banner_text .white-btn {
    margin-left: 16px
}

.order_button {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #f45d96;
    padding: 14px 30px 12px;
    border-radius: 50px
}

.order_button:hover {
    background-color: #fff;
    border: 1px solid #f45d96;
    color: #f45d96;
    text-decoration: none;
    transition: all, .4s;
    opacity: 1
}

.order_button .contact_button {
    color: #f45d96;
    background: #fff
}

.order_button .contact_button:hover {
    background-color: #fff;
    border: 1px solid #f45d96;
    color: #f45d96;
    text-decoration: none;
    transition: all, .4s;
    opacity: 1
}

/* Florist tricks */
.tricks {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;

}

.tricks-title {
    margin-bottom: 45px
}

.tricks-title span {
    color: #f45d96;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 8px
}

.tricks-title h2 {
    font-size: 42px;
    color: #111;
    line-height: 1.4;
    font-family: "Libre Baskerville", serif;
}

.tricks_btn {
    margin-bottom: 45px;
    text-align: right;
    padding-right: 50px;
}

.viewpost_button {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: transparent;
    color: #111;
    padding: 14px 30px 12px;
    border: 2px solid #f45d96;
    border-radius: 50px;
}

.viewpost_button:hover {
    color: #f45d96;
    text-decoration: none;
    transition: all, .4s;
    opacity: 1;
}

.blog_item {
    box-shadow: 0 10px 21px rgba(99, 133, 136, .16);
    margin-bottom: 50px;
}

.blog_item:hover .blog_item_text .label span {
    background: #f45d96;
}

.blog_item:hover .blog_item_text h4 a {
    text-decoration: underline;
}

.blog_item_img img {
    height: 100%;
    min-width: 100%;
}

.blog_item_text {
    text-align: center;
    position: relative;
    padding: 38px 35px 30px;
}

.blog_item_text .label {
    position: absolute;
    left: 0;
    top: -13px;
    right: 0;
    margin: 0 auto;
    text-align: center
}

.blog_item_text .label span {
    color: #fff;
    background: #111;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 10px 2px;
    display: inline-block;
    transition: all, .3s;
}

.blog_item_text h4 {
    margin-bottom: 12px;
}

.blog_item_text h4 a {
    color: #111;
    line-height: 31px;
    font-family: "Libre Baskerville", serif;
}

.blog_item_text p {
    margin-bottom: 10px;
}

.blog_item_text span {
    font-size: 14px;
    color: #888;
    font-weight: 500;
    text-transform: uppercase;
}

/* Testimonial */
.testimonial {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: #f7f5fa;
    padding-bottom: 75px;
    padding-top: 100px;
}

.testimonial:before {
    position: absolute;
    left: -440px;
    top: 0;
    height: 842px;
    width: 802px;
    background-image: url(https://preview.colorlib.com/theme/florist/img/testimonial/xleft-bg.png.pagespeed.ic.iedVgxKNZ_.png);
    content: "";
    z-index: -1;
}

.testimonial:after {
    position: absolute;
    right: -210px;
    bottom: -48px;
    height: 688px;
    width: 697px;
    background-image: url(https://preview.colorlib.com/theme/florist/img/testimonial/xright-bg.png.pagespeed.ic.LoYbOgwxTT.png);
    content: "";
    z-index: -1;
}

.testimonial_text {
    text-align: center;
}

.testimonial_text p {
    font-size: 23px;
    font-style: italic;
    line-height: 1.8;
    font-family: "Libre Baskerville", serif;
    margin-top: 38px;
    margin-bottom: 30px;
}

.testimonial_text h4 {
    color: #111;
    font-size: 20px;
    margin-bottom: 8px;
    font-family: "Libre Baskerville", serif;
}

.testimonial_text span {
    color: #888;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
}

/* Instagram */
.instagram {
    padding-top: 10px
}

.instagram_post {
    margin-left: -5px;
    margin-right: -15px
}

.instagram_post_item {
    height: 372px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(20% - 10px);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.insta_background_1 {
    background-image: url(../images/insta-1.png);
}

.insta_background_2 {
    background-image: url(../images/insta-2.png);
}

.insta_background_3 {
    background-image: url(../images/insta-3.png);
}

.insta_background_4 {
    background-image: url(../images/insta-4.png);
}

.insta_background_5 {
    background-image: url(../images/insta-5.png);
}

.instagram_post_item:hover .instagram_post_item_hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.instagram_post_item_hover {
    background: #fff;
    padding: 20px 75px 16px;
    text-align: center;
    -webkit-transition: all, .5s;
    -o-transition: all, .5s;
    transition: all, .5s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.instagram_post_item_hover i {
    font-size: 30px;
    color: #f45d96
}

.instagram_post_item_hover h6 {
    color: #111;
    margin-top: 8px
}

.instagram_post_item_hover h6 a {
    color: #111;
    text-decoration: underline
}

/* Footer */
.footer {
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.footer_logo a {
    display: inline-block
}

.footer_top {
    padding-bottom: 35px
}

.footer_top_text p {
    margin-bottom: 0;
    font-family: "Quicksand", sans-serif;
}

.footer_top_social a {
    color: #111;
    font-size: 18px;
    margin-right: 20px
}

.footer_top_social a:last-child {
    margin-right: 0
}

.footer_options {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.footer_widget {
    padding: 50px 0 45px
}

.footer_widget.footer_widget--address {
    padding-left: 60px
}

.footer_widget h4 {
    color: #111;
    margin-bottom: 18px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
}

.footer_newslatter h4 {
    color: #111;
    margin-bottom: 18px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
}

.footer_widget ul li {
    list-style: none;
    line-height: 36px;
    color: #444;
    font-size: 15px
}

.footer_widget ul li a {
    font-size: 15px;
    color: #444
}

.footer_newslatter {
    padding: 50px 65px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea
}

.footer_newslatter h4 {
    color: #111;
    margin-bottom: 18px
}

.footer_newslatter form {
    position: relative
}

.footer_newslatter form input {
    font-size: 15px;
    color: #888;
    height: 35px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #111
}

.footer_newslatter form input::-webkit-input-placeholder {
    color: #888
}

.footer_newslatter form input::-moz-placeholder {
    color: #888
}

.footer_newslatter form input:-ms-input-placeholder {
    color: #888
}

.footer_newslatter form input::-ms-input-placeholder {
    color: #888
}

.footer_newslatter form input::placeholder {
    color: #888
}

.footer_newslatter form button {
    font-size: 15px;
    color: #111;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%
}

.footer_copyright {
    padding: 22px 0 22px
}

.footer_copyright p {
    color: #111;
    margin-bottom: 0
}

.footer_copyright p i {
    color: #f45d96
}

.footer_copyright p a {
    color: #f45d96
}

/* Trang Products phần Breadcrumb */
.breadcrumb {
    padding: 52px 0 60px;
    background-image: url(../images/breadcrumb-bg.png);
    height: 192px;
}

.breadcrumb_text h2 {
    font-size: 60px;
    color: #111;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
    padding-top: 45px;
    line-height: 60px;
}

.breadcrumb_links a {
    font-size: 16px;
    color: #f45d96;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 28px;
    position: relative
}

.breadcrumb_links a:after {
    position: absolute;
    right: -18px;
    top: -1px;
    content: "|";
    color: #aeaeae
}

.breadcrumb_links span {
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    display: inline-block
}

/* Trang Products Phần Products */
.product__widget {
    margin-bottom: 20px
}

.product__widget__text i {
    display: inline-block;
    height: 37px;
    width: 37px;
    background: #f2f2f2;
    font-size: 16px;
    color: #111;
    line-height: 37px;
    text-align: center;
    margin-right: 20px
}

.product__widget__text p {
    margin-bottom: 0;
    color: #111;
    display: inline-block
}

.product__widget__filter .nice-select {
    height: 37px;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    padding-left: 30px;
    line-height: 37px;
    float: right;
    width: 246px
}

.product__widget__filter .nice-select:after {
    height: 8px;
    width: 8px;
    border-bottom: 2px solid #888;
    border-right: 2px solid #888;
    right: 20px
}

.product__widget__filter .nice-select .list {
    margin-top: 0;
    border-radius: 0;
    width: 100%
}

.product__widget__filter .nice-select span {
    font-size: 16px;
    color: #888
}

/* Shopping Cart */
.cart_table {
    padding-right: 100px;
}

.cart_table table {
    width: 100%
}

.cart_table thead {
    border-bottom: 1px solid #e1e1e1
}

.cart_table thead tr th {
    font-size: 24px;
    color: #111;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    padding-bottom: 35px
}

.cart_table tbody tr {
    border-bottom: 1px solid #e1e1e1
}

.cart_table tbody tr td {
    padding-top: 35px;
    padding-bottom: 35px
}

.cart_table tbody tr td.cart_item {
    width: 480px
}

.cart_table tbody tr td.cart_item .cart_item_pic {
    float: left;
    margin-right: 30px
}

.cart_table tbody tr td.cart_item .cart_item_text {
    overflow: hidden;
    padding-top: 10px
}

.cart_table tbody tr td.cart_item .cart_item_text h4 {
    color: #111;
    margin-bottom: 10px
}

.cart_table tbody tr td.cart_item .cart_item_text span {
    color: #111;
    font-size: 20px;
    display: block;
    font-weight: 700
}

.cart_quantity {
    width: 200px
}

.cart_quantity .quantity .pro-qty {
    width: 100px
}

.cart_quantity .quantity .pro-qty input {
    font-size: 20px;
    color: #111;
    font-weight: 700;
    float: left;
    text-align: center;
    border: none;
    background: transparent;
    width: 80px;
    height: 48px
}

.cart_quantity .quantity .pro-qty .qtybtn {
    font-size: 16px;
    color: #888;
    float: left;
    height: 100%;
    line-height: 46px;
    cursor: pointer
}

.cart_price {
    font-size: 20px;
    color: #111;
    font-weight: 700;
    width: 200px
}

.cart_close {
    font-size: 20px;
    color: #f45d96
}

.cart_btn {
    padding-top: 35px
}

.cart_btn_continue a {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 700;
    text-transform: uppercase
}

.cart_btn_continue a:hover {
    color: #f45d96;
    text-decoration: none;
}

.cart_btn_right {
    text-align: right
}

.cart_btn_right a {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 65px
}

.cart_btn_right a:last-child {
    margin-right: 0
}

.cart_btn_right a:hover {
    color: #f45d96;
    text-decoration: none;
}

.cart_coupon {
    background: #f7f5fa;
    padding: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
}

.cart_coupon p {
    font-size: 14px;
    margin-bottom: 12px
}

.cart_coupon form {
    position: relative
}

.cart_coupon form input {
    height: 46px;
    width: 100%;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #888;
    padding-left: 20px
}

.cart_coupon form input::-webkit-input-placeholder {
    color: #888
}

.cart_coupon form input::-moz-placeholder {
    color: #888
}

.cart_coupon form input:-ms-input-placeholder {
    color: #888
}

.cart_coupon form input::-ms-input-placeholder {
    color: #888
}

.cart_coupon form input::placeholder {
    color: #888
}

.cart_coupon form button {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #111;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 30px
}

.cart_total {
    background: #f7f5fa;
    padding: 30px;
    margin-right: 30px;
}

.cart_total h4 {
    color: #111;
    margin-bottom: 36px
}

.cart_total ul {
    margin-bottom: 28px
}

.cart_total ul li {
    list-style: none;
    font-size: 16px;
    color: #888;
    line-height: 36px;
    overflow: hidden
}

.cart_total ul li span {
    font-weight: 700;
    color: #111;
    float: right
}

.cart_total ul li:last-child span {
    color: #f45d96
}

.cart_total a {
    color: #111;
    display: block;
    color: #fff;
    background: #111;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 14px 20px 12px;
    text-align: center
}

/* Product Detail Phần Detail */
.product-details {
    padding-bottom: 60px
}

.product_details_content {
    padding-bottom: 60px;
    border-bottom: 1px solid #e1e1e1;
    margin-right: 60px;
}

.product_details_pic {
    margin-right: -20px;
    margin-bottom: 40px;
    overflow: hidden
}

.product_details_pic_item {
    /* width: calc(83% - 20px); */
    width: 100%;
    float: left;
    margin-right: 20px;
    height: 720px
}

.product_details_pic_item img {
    min-width: 100%;
    height: 100%
}

.product_details_thumb {
    width: calc(17% - 20px);
    float: left;
    height: 720px;
    overflow: hidden
}

.product_details_thumb .pt_item:last-child img {
    margin-bottom: 0
}

.product_details_thumb img {
    min-width: 100%;
    margin-bottom: 20px;
    height: 100%;
    cursor: pointer
}

.product_details_text {
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
}

.product_details_title {
    margin-bottom: 40px
}

.product_details_title span {
    color: #f45d96;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase
}

.product_details_title h3 {
    color: #111;
    margin-bottom: 10px
}

.product_details_title ul li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    color: #111;
    position: relative;
    margin-right: 35px
}

.product_details_title ul li:last-child {
    margin-right: 0
}

.product_details_title ul li:last-child:after {
    display: none
}

.product_details_title ul li:after {
    position: absolute;
    right: -23px;
    top: -1px;
    content: "|";
    color: #888
}

.product_details_title ul li .rating i {
    display: inline-block;
    color: #ecba0b;
    margin-right: -4px
}

.product_details_price {
    color: #f45d96;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 0
}

.product_details_widget {
    margin-bottom: 45px
}

.product_details_widget li {
    list-style: none;
    font-size: 16px;
    color: #888;
    line-height: 30px
}

.product_details_widget li span {
    color: #111
}

.product_details_btns {
    overflow: hidden;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 50px 0;
    margin-bottom: 40px
}

.product_details_btns .quantity {
    float: left;
    margin-right: 20px
}

.product_details_btns .quantity .pro-qty {
    width: 170px;
    height: 50px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    padding: 0 25px
}

.product_details_btns .quantity .pro-qty input {
    font-size: 20px;
    color: #111;
    font-weight: 700;
    float: left;
    text-align: center;
    border: none;
    background: transparent;
    width: 94px;
    height: 48px
}

.product_details_btns .quantity .pro-qty .qtybtn {
    font-size: 24px;
    color: #888;
    float: left;
    height: 100%;
    line-height: 40px;
    cursor: pointer
}

.product_details_btns .add_btn {
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background: #111;
    position: relative;
    padding: 14px 30px 12px 70px;
    border-radius: 50px;
    margin-right: 16px;
    float: left
}

.product_details_btns .add_btn span {
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;
    padding: 0 16px;
    background: #f45d96;
    border-radius: 50%;
    line-height: 42px
}

.product_details_btns .heart_btn {
    padding: 15px 14px;
    background: #f2f2f2;
    border-radius: 50%;
    float: left
}

.product_details_desc .nav {
    border-bottom: none;
    margin-bottom: 30px
}

.product_details_desc .nav-item {
    margin-right: 60px;
    position: relative
}

.product_details_desc .nav-item:after {
    position: absolute;
    right: -35px;
    top: 4px;
    content: "/";
    color: #888
}

.product_details_desc .nav-item:last-child {
    margin-right: 0
}

.product_details_desc .nav-item:last-child:after {
    display: none
}

.product_details_desc .nav-link {
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    color: #888;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0
}

.product_details_desc .tab-content p {
    margin-bottom: 0
}

/* Product Detail Phần Product */
.related_products {
    padding-top: 60px;
}

.section-title {
    margin-bottom: 45px
}

.section-title h2 {
    font-size: 50px;
    color: #111;
    line-height: 1.4;
    font-family: "Libre Baskerville", serif;
}

/* Trang Checkout */
.checkout_form_top {
    padding-bottom: 25px
}

.checkout_form_top h4 {
    font-size: 26px;
    color: #111
}

.checkout_form_top h6 {
    color: #444;
    text-align: center
}

.checkout_form_top h6 a {
    color: #f45d96
}

.checkout_form form .input_top {
    margin-bottom: 38px
}

.checkout_form form .input_top input {
    height: 46px;
    width: 100%;
    padding-left: 20px;
    font-size: 16px;
    color: #888;
    border: 1px solid #e1e1e1;
    margin-bottom: 15px
}

.checkout_form form .input_top input::-webkit-input-placeholder {
    color: #888
}

.checkout_form form .input_top input::-moz-placeholder {
    color: #888
}

.checkout_form form .input_top input:-ms-input-placeholder {
    color: #888
}

.checkout_form form .input_top input::-ms-input-placeholder {
    color: #888
}

.checkout_form form .input_top input::placeholder {
    color: #888
}

.checkout_form form label {
    position: relative;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    padding-left: 30px;
    margin-bottom: 0
}

.checkout_form form label input {
    position: absolute;
    visibility: hidden
}

.checkout_form form label input:checked~.checkmark {
    background: #f45d96;
    border-color: #f45d96
}

.checkout_form form label input:checked~.checkmark:after {
    opacity: 1
}

.checkout_form form label .checkmark {
    position: absolute;
    left: 0;
    top: 6px;
    height: 12px;
    width: 12px;
    border: 1px solid #444;
    border-radius: 2px;
    content: ""
}

.checkout_form form label .checkmark:after {
    position: absolute;
    left: 0;
    top: -1px;
    width: 13px;
    height: 7px;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    content: "";
    opacity: 0
}

.checkout_form .site-btn {
    width: 100%
}

.checkout_address h4 {
    font-size: 26px;
    color: #111;
    margin-bottom: 24px
}

.checkout_address .input_item {
    margin-bottom: 25px
}

.checkout_address .input_item.double_input input {
    margin-bottom: 10px
}

.checkout_address .input_item.double_input input:last-child {
    margin-bottom: 0
}

.checkout_address .input_item p {
    color: #444;
    margin-bottom: 10px
}

.checkout_address .input_item p span {
    color: #f45d96
}

.checkout_address .input_item input {
    height: 46px;
    width: 100%;
    padding-left: 20px;
    font-size: 16px;
    color: #888;
    border: 1px solid #e1e1e1
}

.checkout_address .input_item input::-webkit-input-placeholder {
    color: #888
}

.checkout_address .input_item input::-moz-placeholder {
    color: #888
}

.checkout_address .input_item input:-ms-input-placeholder {
    color: #888
}

.checkout_address .input_item input::-ms-input-placeholder {
    color: #888
}

.checkout_address .input_item input::placeholder {
    color: #888
}

.checkout_proceed {
    background: #f7f5fa;
    padding: 30px;
    margin-right: 60px;

}

.checkout_proceed .checkout_proceed_title {
    position: relative;
    z-index: 1
}

.checkout_proceed .checkout_proceed_title:after {
    position: absolute;
    left: 0;
    top: 14px;
    height: 1px;
    width: 100%;
    background: #e1e1e1;
    content: "";
    z-index: -1
}

.checkout_proceed .checkout_proceed_title h4 {
    color: #111;
    margin-bottom: 38px;
    display: inline-block;
    background: #f7f5fa;
    padding: 0 15px 0 0;
    position: relative
}

.checkout_proceed_coupon {
    margin-bottom: 50px
}

.checkout_proceed_coupon p {
    font-size: 14px;
    margin-bottom: 12px
}

.checkout_proceed_coupon .coupon_input {
    position: relative
}

.checkout_proceed_coupon .coupon_input input {
    height: 46px;
    width: 100%;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    color: #888;
    padding-left: 20px
}

.checkout_proceed_coupon .coupon_input input::-webkit-input-placeholder {
    color: #888
}

.checkout_proceed_coupon .coupon_input input::-moz-placeholder {
    color: #888
}

.checkout_proceed_coupon .coupon_input input:-ms-input-placeholder {
    color: #888
}

.checkout_proceed_coupon .coupon_input input::-ms-input-placeholder {
    color: #888
}

.checkout_proceed_coupon .coupon_input input::placeholder {
    color: #888
}

.checkout_proceed_coupon .coupon_input button {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #111;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 30px
}

.checkout_proceed_product {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 22px;
    margin-bottom: 22px
}

.checkout_proceed_product h5 {
    color: #111;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 18px
}

.checkout_proceed_product ul li {
    list-style: none;
    font-size: 16px;
    color: #111;
    overflow: hidden;
    line-height: 36px
}

.checkout_proceed_product ul li span {
    font-weight: 700;
    float: right
}

.checkout_proceed_total {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 25px
}

.checkout_proceed_total li {
    list-style: none;
    font-size: 20px;
    color: #111;
    line-height: 36px;
    overflow: hidden;
    font-weight: 500
}

.checkout_proceed_total li span {
    font-weight: 700;
    color: #111;
    float: right
}

.checkout_proceed_total li:last-child span {
    color: #f45d96
}

.checkout_proceed_widget {
    margin-bottom: 40px
}

.checkout_proceed_widget label {
    position: relative;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    padding-left: 30px;
    display: block;
    margin-bottom: 5px !important
}

.checkout_proceed_widget label:last-child {
    margin-bottom: 0
}

.checkout_proceed_widget label input {
    position: absolute;
    visibility: hidden
}

.checkout_proceed_widget label input:checked~.checkmark {
    background: #f45d96;
    border-color: #f45d96
}

.checkout_proceed_widget label input:checked~.checkmark:after {
    opacity: 1
}

.checkout_proceed_widget label .checkmark {
    position: absolute;
    left: 0;
    top: 6px;
    height: 12px;
    width: 12px;
    border: 1px solid #444;
    border-radius: 2px;
    content: ""
}

.checkout_proceed_widget label .checkmark:after {
    position: absolute;
    left: 0;
    top: -1px;
    width: 13px;
    height: 7px;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    content: "";
    opacity: 0
}
/* Form Login */
* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .login {
    width: 320px;
    height: 450px;
    border: 1px solid #CCC;
    /* background: url(../images/sakura.gif) center center no-repeat; */
    background: url(https://i.pinimg.com/564x/c2/e9/02/c2e902e031e1d9d932411dd0b8ab5eef.jpg) center center no-repeat;
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
  }
  .login .form {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
  }
  .login .form h2 {
    color: #FFF;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .login .form input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
  }
  .login .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
  }
  ::-webkit-input-placeholder {
      color: #DDD;
  }
  .login .form input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
  }
  